<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script src="https://kit.fontawesome.com/e6cf7acf81.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
  </head>
   
  <body>
       <div>
         <a href="/admin/addHotel" class="nav1">Add Hotel</a>
          <a href="/admin/editHotel" class="nav1">Edit Hotel</a>
           <a href="/home" class="linklogout" >Logout</a>   
       </div>
       <div class="table">
           <h2 class="hema">Welcome Admin</h2>
    <form method="POST" class="adminform" action="/SenddataAdmin">

        <label class="l">Hotel Name </label>
        <input type="text" name="name" id="name">

        <label class="l">Hotel Description</label>
        <input type="text" id="description" name="description">

        <label class="l">Price per Night</label>
        <input type="text" name="Price" id="Price">

        <label class="l">Upload an image</label> 
        <input type="file" name="image" id="image" class="uploadimage"><br><br>

         <button type="submit" class="task" id="task add" >Add Hotel </button>
       </form>
    </div>
   
  </body>
  </html>