<link rel="stylesheet" href="/css/dashboard.css?v=1.0">
<link rel="stylesheet" href="/css/index.css">


<main class="structure">
    <div class="profile_block">
        <img src="/img/profile2.jpg" class="profile_pic">
        <h1>DIMPY VAIDYA</h1><br>
        <table>
            <tr>
                <th style="width:1em;"><i class="material-icons">person_pin_circle</i></th>
                <td>1, Hari villa Street<br>Toronto, Canada<br>L6P4J7</td>
            </tr>

            <tr>
                <th><i class="material-icons">phone</i></th>
                <td>+1 905-234-1234</td>
            </tr>
            <tr>
                <th><i class="material-icons">cake</i></th>
                <td>June 13, 1994</td>
            </tr>
        </table>
    </div>
    <div>
        <h1>MY TRAVEL DIARY</h1><br>
        <div class="dashboard-container ">
            <div class="dashboard_block block1 container"><br>
                <h2 class="hotelnm">ALREADY VISITED</h2>
                <img src="/img/Dubai.jpg" alt="hotel1" class="hotelimg image" style="height:30em">
                <div class="align">
                    <div class="text">India</div>
                </div>
            </div>
            <div class="dashboard_block block2 container"><br>
                <h2 class="hotelnm">WANT TO VISIT</h2>
                <img src="img/Paris.jpg" alt="hotel2" class="hotelimg image" style="height:30em">
                <div class="align">
                    <div class="text">Paris</div>
                </div>
            </div>
        </div>
</main>
