<link rel="stylesheet" href="/css/index.css">
<header class="header">
    <a href="#"><img src="/img/OutErraLogo.png" alt="logo" class="logo"></a>
    <h2 class="quot">
        Explore Top places in Canada, before you Die!
    </h2>
</header>
<section>
    <div class="main-heading">
        <h2>Explore OutErra</h2>
    </div>

    <div class="explore" id="places-block">
        <section class="hotelCard">
            <div>
                <img src="img/stays.jpg" alt="hotel" class="explore_img">
            </div>
            <div class="content_x">
                <a href="#" class="p-heading"><strong>Stays</strong></a>
            </div>
        </section>

        <section class="hotelCard">
            <div>
                <img src="img/experiences.jpg" alt="hotel" class="explore_img">
            </div>
            <div class="content_x">
                <a href="#" class="p-heading"><strong>Experiences</strong></a>
            </div>
        </section>

        <section class="hotelCard">
            <div>
                <img src="img/adventure.jpg" alt="hotel" class="explore_img">
            </div>
            <div class="content_x">
                <a href="#" class="p-heading"><strong>Adventures</strong></a>
            </div>
        </section>
    </div>
</section>
<section class="main-heading">
    <h2>Promotional offer</h2><br><br>

    <img src="img/banner2.jpg" alt="promotion" class="promotion">

</section>
<main>
    <div class="main-heading">
        <h2>Top-rated Experiences</h2>
        <h3>Book activities led by local hosts on your next Trip</h3><br><br>
    </div>
    <div class="hotel-container">
        <div class="hotel_block">
            <img src="img/hotel1m.jpg" alt="hotel1" class="hotelimg">
            <div class="hotel_content">
                <h2 class="hotelnm">Courtyard by Marriott</h2>
                <h3 class="price"><strong>CAD 160</strong>/night</h3><br>
                <div>
                    <img src="/img/user5.png" alt="boy" class="rating-view">
                    <h3 class="comment">Comment from Darshil</h3>
                    <p class="cmt">Great location, staff amazing, nothing too much trouble</p>
                </div>
                <div style="color: black;">
                    <span class="material-icons" >star</span><span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star</span>
                </div>
            </div>
        </div>
        <div class="hotel_block">
            <img src="img/hotel2m.jpg" alt="hotel2" class="hotelimg">
            <div class="hotel_content">
                <h2 class="hotelnm">Hotel Barry Love</h2>
                <h3 class="price"><strong>CAD 240</strong>/night</h3><br>

                <div>
                    <img src="/img/user1.png" alt="boy" class="rating-view">
                    <h3 class="comment">Comment from Dimpy</h3>
                    <p class="cmt">Awesome location, helpful staff, comfortable bed</p>
                </div>
                <div style="color: black;">
                    <span class="material-icons" >star</span><span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star_border</span>
                </div>
            </div>
        </div>
        <div class="hotel_block">
            <img src="img/hotel3m.jpg" alt="hotel3" class="hotelimg">
            <div class="hotel_content">
                <h2 class="hotelnm">Derbin Hotel</h2>
                <h3 class="price"><strong>CAD 300</strong>/night</h3><br>

                <div>
                    <img src="/img/user2.png" alt="boy" class="rating-view">
                    <h3 class="comment">Comment from Meet</h3>
                    <p class="cmt">Well organised staff</p>
                </div>
                <div style="color: black;">
                    <span class="material-icons" >star</span><span class="material-icons">star</span><span class="material-icons">star</span><span class="material-icons">star_border</span><span class="material-icons">star_border</span>
                </div>
            </div>
        </div>

    </div>
</main>

<article class="bgimg">
    <section class="box">
        <div>
            <img src="./img/lg.png" class="box_icon">
            <BR CLEAR=”left” />
            <h1>Find hotels in Canada</h1>
        </div>
        <div>
            <h3>Select your destination</h3>
            <select name="places" class="basicbox place">
                <option value="Select">I want to go...</option>
                <option value="Alberta">Banff and Lake Louise, Alberta</option>
                <option value="nb">Bay of Fundy, New Brunswick</option>
                <option value="pei">Cavendish Beach, Prince Edward Island</option>
                <option value="Manitoba">Churchill, Manitoba</option>
                <option value="Toronto">CN Tower, Toronto</option>
                <option value="Newfoundland">Gros Morne National Park, Newfoundland</option>
                <option value="Yukon">Kluane National Park, Yukon</option>
                <option value="bc">Long Beach, Tofino, British Columbia</option>
                <option value="Toronto">Niagra Falls, Toronto</option>
                <option value="Ontario">The Muskoka Lakes, Ontario</option>
            </select>
        </div>
        <div class="date">
            <h3>Check-in Date</h3>
            <input type="text" name="fromdt" class="basicbox" value="yyyy-mm-dd">
        </div>
        <div class="date">
            <h3>Check-out Date</h3>
            <input type="text" name="todt" class="basicbox" value="yyyy-mm-dd" >
        </div>
        <div>
            <h3>Rooms required</h3>
            <select name="rooms" class="basicbox room">
                <option value="noofrooms">Rooms</option>
                <option value="1">1 Room</option>
                <option value="2">2 Rooms</option>
                <option value="3">3 Rooms</option>
            </select>
        </div>
        <div>
            <h3>Rooms choices</h3>
            <select name="views" class="basicbox room">
                <option value="noofrooms">Room views</option>
                <option value="view1">Lake view</option>
                <option value="view2">City view</option>
                <option value="view3">Street view</option>
            </select>
        </div>
        <div>
<a href="#" class="search_button">Find Hotels</a>

        </div>
    </section>
     
</article>
<section class="bg">
    <div class="user">
        <p>
            <h2 class="hotelnm">When are you planning to travel?</h2>
        </p>
        <div>
            <p>Add Dates for updated pricing and availability.</p><br>
            <a href="#" class="btn">Add Dates</a>

        </div><br>
        <p>Want to receive exclusive <strong>hotel offers?</strong> Subscribe to our newsletter!</p>
        <div>
            <input type="text" name="email" class="basicbox email" value="Email address">
            <a href="#" class="btn">Subscribe</a>
        </div>
        <p>How likely are you to return to <em>OutErra.com?</em></p>
        <div>
            <select name="likely" class="basicbox pagelike">
                <option value="choose">Please choose one...</option>
                <option value="highlike">Highly likely</option>
                <option value="somewhatlike">Somewhat likely</option>
                <option value="unsure">Unsure</option>
                <option value="somewhatunlike">Somewhat unlikely</option>
                <option value="highunlik">Highly unlikely</option>
            </select>
        </div>
    </div>
</section>
</article>

<div class="discover_show">
    <h2 class="discover_head">Discover the regions of Canada</h2>
    <section class="discover">
        <div class="discover">
            <a href="#" class="discover">Ontario</a>
            <p class="discover_hotel">7777 hotels</p>
        </div>
        <div class="discover">
            <a href="#" class="discover">British Columbia</a>
            <p class="discover_hotel">7607 hotels</p>
        </div>
        <div class="discover">
            <a href="#" class="discover">Quebec</a>
            <p class="discover_hotel">6603 hotels</p>
        </div>
        <div class="discover">
            <a href="#" class="discover">Nova Scotia</a>
            <p class="discover_hotel">2282 hotels</p>
        </div>
        <div class="discover">
            <a href="#" class="discover">Alberta</a>
            <p class="discover_hotel">984 hotels</p>
        </div>
        <div class="discover">
            <a href="#" class="discover">New Brunswick</a>
            <p class="discover_hotel">517 hotels</p>
        </div>
    </section>
</div>