
    <link rel="stylesheet" type="text/css" href="/css/userregistration.css">

  <form style="border:2px solid #ccc">
  <div class="container">
     <h1><br><br>Login</h1>
          <hr>
    
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" >

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" >

     <div class="clearfix">
            <button type="button" class="signupbtn">Login</button>
            <button type="submit" class="cancelbtn">Cancle</button>
          </div>
    </div>
  </form>
