<div class="main-heading">
    <br><br><br>
    <h2>Best hotels and accomodations in Canada</h2><br>
</div>
<div class="hotel-container">
    <div class="hotel_block">
        <img src="img/hotel4m.jpg" alt="hotel4" class="hotelimg">
        <div class="hotel_content">
            <h2 class="hotelnm">La Serene</h2>
            <h3 class="price">160 CAD per night</h3>

            <ul class="desc">
                <li>Free cancellation</li>
                <li>Reserve now, pay later</li>
                <li>Free High-Speed Internet</li>
                <li>Gym available</li>
            </ul><br>
            <div>
                <h3 class="comment">Comment from Sanju</h3>
                <p class="cmt">Highly recommended!!!</p>
            </div><br>
            <button type="button" class="button"><span>Book Now</span></button>
        </div>
    </div>
    <div class="hotel_block">
        <img src="img/hotel5m.jpg" alt="hotel5" class="hotelimg">
        <div class="hotel_content">
            <h2 class="hotelnm">The Fairmont Royal York</h2>
            <h3 class="price">240 CAD per night</h3>
            <ul class="desc">
                <li>Lake view</li>
                <li>Free cancellation</li>
                <li>Reserve now, pay later</li>
                <li>Spa</li>
            </ul><br>
            <div>
                <h3 class="comment">Comment from Aabhu</h3>
                <p class="cmt">I booked the spa room and was lovely...</p>
            </div><br>
            <button type="button" class="button"><span>Book Now</span></button>
        </div>
    </div>
    <div class="hotel_block">
        <img src="img/hotel6_1m.jpg" alt="hotel6" class="hotelimg">
        <div class="hotel_content">
            <h2 class="hotelnm">Hyatt Regency</h2>
            <h3 class="price">120 CAD per night</h3>

            <ul class="desc">
                <li>Free cancellation</li>
                <li>Pet friendly</li>
                <li>Free High-Speed Internet</li>
                <li>Continental breakfast for 2 included</li>
            </ul><br>
            <div>
                <h3 class="comment">Comment from Darshu</h3>
                <p class="cmt">Amazing views! The food was delicious..</p>
            </div><br>
            <button type="button" class="button"><span>Book Now</span></button>
        </div>
    </div>
    <div class="hotel_block">
        <img src="img/hotel7m.jpg" alt="hotel7" class="hotelimg">
        <div class="hotel_content">
            <h2 class="hotelnm">Radisson Hotel</h2>
            <h3 class="price">160 CAD per night</h3>

            <ul class="desc">
                <li>City view</li>
                <li>Free cancellation</li>
                <li>Reserve now, pay later</li>
                <li>Free High-Speed Internet</li>
            </ul><br>
            <div>
                <h3 class="comment">Comment from Pinku</h3>
                <p class="cmt">Great location, nothing too much trouble</p>
                <br>
            </div>
            <button type="button" class="button"><span>Book Now</span></button>

        </div>
    </div>
    <div class="hotel_block">
        <img src="img/hotel8m.png" alt="hotel8" class="hotelimg">
        <div class="hotel_content">
            <h2 class="hotelnm">Sheraton Centre Toronto Hotel</h2>
            <h3 class="price">130 CAD per night</h3>

            <ul class="desc">
                <li>Restaurent</li>
                <li>Free cancellation</li>
                <li>Reserve now, pay later</li>
                <li>Free High-Speed Internet</li>
            </ul><br>
            <div>
                <h3 class="comment">Comment from Rekha</h3>
                <p class="cmt">Best Best Best !!!</p>
                <br>
            </div>
            <button type="button" class="button"><span>Book Now</span></button>
        </div>
    </div>

    <div class="hotel_block">
        <img src="img/hotel9m.jpg" alt="hotel9" class="hotelimg">
        <div class="hotel_content">
            <h2 class="hotelnm">Lake view Hotel</h2>
            <h3 class="price">180 CAD per night</h3>

            <ul class="desc">
                <li>Pool</li>
                <li>Free cancellation</li>
                <li>Reserve now, pay later</li>
                <li>Free High-Speed Internet</li>
            </ul><br>
            <div>
                <h3 class="comment">Comment from Vishnu</h3>
                <p class="cmt">Just go and try once, you'll love the place</p>
                <br>
            </div>
            <button type="button" class="button"><span>Book Now</span></button>
        </div>
    </div>